%h2.page-header
  Edit profile
  %small= link_to @product.attr(:name), contest_category_contest_product_path(@contest_category, @contest, @product)
- @form = @profile.form
= simple_form_for([@contest_category, @contest, @product, @profile]) do |f|
  = render 'shared/edit_with_form_formation'
  %br
  = f.submit class: 'btn btn-primary'
  = link_to 'Cancel', :back, class: 'btn btn-default'
