%h2.page-header
  = @contest.name
  %small= link_to 'Back to contest list', contest_category_contests_path(@contest_category), class: 'btn btn-default pull-right'
%ul#pageTab.nav.nav-tabs
  - @pages.each do |page|
    %li{:class => ('active' if page.default?)}
      %a{:href => "##{page.slug}", :'data-toggle' => 'tab'}= page.title
  %li
    - if can? :create, Product
      = link_to 'New product', new_contest_category_contest_product_path(@contest_category, @contest)
  %li
    - if can? :read, Product
      = link_to 'Products', contest_category_contest_products_path(@contest_category, @contest)
  %li
    - if can?(:update, Page) or (current_account and current_account.role?(:contest_admin) and @contest_category.admins.include?(current_account))
      = link_to 'Pages', contest_category_contest_pages_path(@contest_category, @contest)
  - if can?(:update, FormFormation) or (current_account and current_account.role?(:contest_admin) and @contest_category.admins.include?(current_account))
    %li.dropdown
      %a{:href => '#', :id => 'pageTabDrop', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown'}
        Form formations
        %b.caret
      %ul.dropdown-menu{:role => 'menu', :'aria-labelledby' => 'pageTabDrop'}
        %li= link_to 'Product', contest_category_contest_product_form_formation_path(@contest_category, @contest)
        %li= link_to 'Profile', contest_category_contest_profile_form_formation_path(@contest_category, @contest)
        %li= link_to 'Result', contest_category_contest_result_form_formation_path(@contest_category, @contest)
#pageTabContent.tab-content
  - @pages.each do |page|
    %div{:id => "#{page.slug}", :class => "tab-pane fade #{'in active' if page.default}"}
      - if can? :update, page
        %br
        = link_to 'Edit this page', edit_contest_category_contest_page_path(@contest_category, @contest, page), class: 'btn btn-info'
        %br
      %br
      = page.content.html_safe
