%h2.page-header
  = @contest.name
  .btn-toolbar.pull-right
    .btn-group
      - if can? :create, Page
        = link_to 'New page', new_contest_category_contest_page_path(@contest_category, @contest), class: 'btn btn-success'
      - if can?(:update, Page) or (current_account and current_account.role?(:contest_admin) and @contest_category.admins.include?(current_account))
        = link_to 'Show pages', contest_category_contest_pages_path(@contest_category, @contest), class: 'btn btn-info'
    .btn-group
      - if can?(:update, FormFormation) or (current_account and current_account.role?(:contest_admin) and @contest_category.admins.include?(current_account))
        = link_to 'Show product form', contest_category_contest_product_form_formation_path(@contest_category, @contest), class: 'btn btn-success'
        = link_to 'Show profile form', contest_category_contest_profile_form_formation_path(@contest_category, @contest), class: 'btn btn-info'
%ul#pageTab.nav.nav-tabs
  - @pages.each do |page|
    %li{:class => ('active' if page.default?)}
      %a{:href => "##{page.slug}", :'data-toggle' => 'tab'}= page.title
  %li
    = link_to 'New product', new_contest_category_contest_product_path(@contest_category, @contest)
#pageTabContent.tab-content
  - @pages.each do |page|
    %div{:id => "#{page.slug}", :class => "tab-pane fade #{'in active' if page.default}"}
      - if can? :update, page
        %br
        = link_to 'Edit this page', edit_contest_category_contest_page_path(@contest_category, @contest, page), class: 'btn btn-info'
        %br
      %br
      = page.content.html_safe
