%h2.page-header
  = @contest.name
  .btn-toolbar.pull-right
    .btn-group
      - if can? :create, Page
        = link_to 'New page', new_contest_category_contest_page_path(@contest_category, @contest), class: 'btn btn-success'
      - if can?(:update, Page) or (current_account.try?(:role?, :contest_admin) and @contest_category.admins.include? current_account)
        = link_to 'Show pages', contest_category_contest_pages_path(@contest_category, @contest), class: 'btn btn-info'
    .btn-group
      - if can?(:update, @contest.form_formation)
        = link_to 'Edit form formation', edit_contest_category_contest_form_formation_path(@contest_category, @contest), class: 'btn btn-success'
        = link_to 'Show form formation', contest_category_contest_form_formation_path(@contest_category, @contest), class: 'btn btn-info'
%ul#pageTab.nav.nav-tabs
  - @pages.each do |page|
    %li{:class => ('active' if page.default?)}
      %a{:href => "##{page.slug}", :'data-toggle' => 'tab'}= page.title
#pageTabContent.tab-content
  - @pages.each do |page|
    %div{:id => "#{page.slug}", :class => "tab-pane fade #{'in active' if page.default}"}
      - if can? :update, page
        %br
        = link_to 'Edit this page', edit_contest_category_contest_page_path(@contest_category, @contest, page), class: 'btn btn-info'
        %br
      %br
      = page.content.html_safe
