%h2.page-header
  = "Topic: #{@topic.title}"
  %small
    = link_to @contest.name, contest_category_contest_path(@contest_category, @contest)
    = link_to 'Back to topic list', contest_category_contest_forum_topics_path(@contest_category, @contest), class: 'btn btn-default pull-right'
.panel.panel-info
  .panel-heading
    %h3.panel-title= "#0: #{@topic.title}"
  .panel-body
    %p= @topic.content
  .panel-footer
    Created by
    %b= @topic.account.email
    at
    %b= @topic.created_at
- @comments.each_with_index do |comment, index|
  .panel.panel-default
    .panel-heading
      %h3.panel-title
        = "##{index + 1}: #{comment.title}"
        - if can? :destroy, comment
          %span.pull-right= link_to 'Delete', contest_category_contest_forum_topic_comment_path(@contest_category, @contest, @topic, comment), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }
    .panel-body
      %p= comment.content
    .panel-footer
      Created by
      %b= comment.account.email
      at
      %b= comment.created_at
%hr
%h4 New Comment
= simple_form_for(@topic.comments.build, url: contest_category_contest_forum_topic_comments_path(@contest_category, @contest, @topic)) do |f|
  = f.input :title, required: true, input_html: { class: 'form-control' }
  = f.input :content, input_html: { class: 'form-control' }
  %br
  = f.submit class: 'btn btn-primary'
