- @form_formation.term_formations.each do |tf|
  - if tf.type == 'StringTermFormation'
    = label_tag_with_required_option(tf.name, tf.required?)
    - if tf.choises.nil? or tf.choises.empty?
      = text_field_tag(tf.name.to_sym, '', class: 'form-control', required: tf.required?)
    - else
      - if tf.single?
        = select_tag(tf.name.to_sym, options_for_select(tf.choises.split(':').map { |x| [x, x] }), { class: 'form-control' })
      - else
  - elsif tf.type == 'TextTermFormation'
    = label_tag_with_required_option(tf.name, tf.required?)
    = text_area_tag(tf.name.to_sym, '', class: 'form-control', required: tf.required?)
  - elsif tf.type == 'BooleanTermFormation'
    %label.checkbox
      = check_box_tag(tf.name.to_sym)
      = label_tag_with_required_option(tf.name, tf.required?)
  - elsif tf.type == 'IntegerTermFormation'
    = label_tag_with_required_option(tf.name, tf.required?)
    = number_field_tag(tf.name.to_sym, nil, class: 'form-control', required: tf.required?)
  - elsif tf.type == 'FileTermFormation'
    = label_tag_with_required_option(tf.name, tf.required?)
    = file_field_tag(tf.name.to_sym)
