%h2.page-header
  = "#{@form_formation.resource.humanize} form formation"
  %small= link_to @contest.name, contest_category_contest_path(@contest_category, @contest)
  - if can? :update, @form_formation
    = link_to 'Edit form formaton', edit_contest_category_contest_form_formation_path(@contest_category, @contest, @form_formation), class: 'btn btn-info pull-right'
%table.table
  %thead
    %tr
      %th #
      %th Type
      %th Name
      %th Required
  %tbody
    - @form_formation.term_formations.each do |term_formation|
      %tr
        %td= term_formation.id
        %td= term_formation.type
        %td= term_formation.name
        %td= term_formation.required?
