%h2.page-header
  News
  %small
    = link_to @contest.name, contest_category_contest_path(@contest_category, @contest)
    - if can? :create, Post
      = link_to 'New post', new_contest_category_contest_post_path(@contest_category, @contest), class: 'btn btn-success pull-right'
%table.table
  %thead
    %tr
      %th Id
      %th Title
      %th Created at
      %th
  %tbody
    - @posts.each do |post|
      %tr
        %td= link_to post.id, contest_category_contest_post_path(@contest_category, @contest, post)
        %td= link_to post.title, contest_category_contest_post_path(@contest_category, @contest, post)
        %td= post.created_at
        %td
          = link_to 'View', contest_category_contest_post_path(@contest_category, @contest, post)
          - if can? :update, post
            = link_to 'Edit', edit_contest_category_contest_post_path(@contest_category, @contest, post)
          - if can? :destroy, post
            = link_to 'Delete', contest_category_contest_post_path(@contest_category, @contest, post), method: :delete, data: { confirm: 'Are you sure you want to delete this?' }
