%h2.page-header
  New product
  %small= link_to @contest.name, contest_category_contest_path(@contest_category, @contest)
= simple_form_for([@contest_category, @contest, @product]) do |f|
  = render 'shared/new_with_form_formation'
  %br
  = f.submit class: 'btn btn-primary'
  = link_to 'Cancel', :back, class: 'btn btn-default'
