%h2.page-header
  = @product.attr(:name)
  %small= link_to @contest.name, contest_category_contest_path(@contest_category, @contest)
%ul#productTab.nav.nav-tabs
  %li.active
    %a{:href => '#info', :'data-toggle' => 'tab'} Info
  - @product.profiles.each_with_index do |profile, index|
    %li
      %a{:href => "#profile#{index}", :'data-toggle' => 'tab'}= "Profile #{index}"
  %li
    = link_to 'New profile', new_contest_category_contest_product_profile_path(@contest_category, @contest, @product)
#productContent.tab-content
  %div#info.tab-pane.fade.in.active
    - if can?(:update, @product)
      %br
      = link_to 'Edit this product', edit_contest_category_contest_product_path(@contest_category, @contest, @product), class: 'btn btn-info'
      %br
    %br
    %table.table
      - @product.form.terms.each do |t|
        %tr
          %th= t.term_formation.name.humanize
          %td
            - if t.term_formation.type == 'StringTermFormation'
              = t.string_value
  - @product.profiles.each_with_index do |profile, index|
    %div.tab-pane.fade{:id => "profile#{index}"}
      .btn-toolbar
        - if can?(:update, profile)
          %br
          .btn-group
            = link_to 'Edit this profile', edit_contest_category_contest_product_profile_path(@contest_category, @contest, @product, profile), class: 'btn btn-info'
            - if can?(:destroy, profile)
              = link_to 'Delete this profile', contest_category_contest_product_profile_path(@contest_category, @contest, @product, profile), method: :delete, data: { confirm: 'Are you sure you want to delete this profile?' }, class: 'btn btn-danger'
          %br
      %br
      %table.table
        - profile.form.terms.each do |t|
          %tr
            %th= t.term_formation.name.humanize
            %td
              - if t.term_formation.type == 'StringTermFormation'
                = t.string_value
