!!! 5
%html
  %head
    %title AcademicCommunication
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    /[if lt IE 9]
      %script{:src => 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}
      %script{:src => 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'}
  %body
    - if flash[:notice]
      %p.notice= flash[:notice]
    - if flash[:alert]
      %p.alert= flash[:alert]
    = yield
