!!! 5
%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    %title AcademicCommunication
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    /[if lt IE 9]
      %script{:src => 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}
      %script{:src => 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'}
  %body
    .navbar.navbar-default.navbar-fixed-top{:role => 'navigation'}
      .container
        .navbar-header
          %button{:type => 'button', :class => 'navbar-toggle', :'data-toggle' => 'collapse', :'data-target' => '.navbar-collapse'}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'AcademicCommunication', root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{:class => ('active' if params[:controller] == 'welcome')}= link_to 'Home', root_path
            - if current_account
              - if current_account.role?(:super_admin)
                %li{:class => ('active' if params[:controller] == 'accounts')}= link_to 'Accounts', accounts_path
                %li{:class => ('active' if params[:controller] == 'contest_categories')}= link_to 'Contest Categories', contest_categories_path
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown'}
                    Contests
                    %b.caret
                  %ul.dropdown-menu
                    - ContestCategory.all.each do |contest_category|
                      %li{:class => ('active' if params[:controller] == 'contests' and ContestCategory.find(params[:contest_category_id]) == contest_category)}= link_to contest_category.name, contest_category_contests_path(contest_category)
              - elsif current_account.role?(:contest_admin)
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown'}
                    Contests
                    %b.caret
                  %ul.dropdown-menu
                    - current_account.contest_categories.each do |contest_category|
                      %li{:class => ('active' if params[:controller] == 'contests' and ContestCategory.find(params[:contest_category_id]) == contest_category)}= link_to contest_category.name, contest_category_contests_path(contest_category)
              - elsif current_account.role?(:judge)
              - elsif current_account.role?(:user)
                %li.dropdown
                  %a{:href => '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown'}
                    Contests
                    %b.caret
                  %ul.dropdown-menu
                    - ContestCategory.all.each do |contest_category|
                      %li{:class => ('active' if params[:controller] == 'contests' and ContestCategory.find(params[:contest_category_id]) == contest_category)}= link_to contest_category.name, contest_category_contests_path(contest_category)
            - else
              %li.dropdown
                %a{:href => '#', :class => 'dropdown-toggle', :'data-toggle' => 'dropdown'}
                  Contests
                  %b.caret
                %ul.dropdown-menu
                  - ContestCategory.all.each do |contest_category|
                    %li{:class => ('active' if params[:controller] == 'contests' and ContestCategory.find(params[:contest_category_id]) == contest_category)}= link_to contest_category.name, contest_category_contests_path(contest_category)
          %ul.nav.navbar-nav.navbar-right
            - unless current_account
              %li{:class => ('active' if current_page?(new_session_path(:account)))}= link_to 'Sign in', new_session_path(:account)
              %li{:class => ('active' if current_page?(new_registration_path(:account)))}= link_to 'Sign up', new_registration_path(:account)
            - else
              %li{:class => ('active' if current_page?(edit_registration_path(:account)))}= link_to current_account.email, edit_registration_path(:account)
              %li= link_to 'Sign out', destroy_session_path(:account), method: :delete 
    .container
      - if flash[:notice]
        .alert.alert-success.alert-dismissable
          %button{:type => 'button', :class => 'close', :'data-dismiss' => 'alert', :'aria-hidden' => 'true'} &times;
          %p= flash[:notice]
      - if flash[:alert]
        .alert.alert-danger.alert-dismissable
          %button{:type => 'button', :class => 'close', :'data-dismiss' => 'alert', :'aria-hidden' => 'true'} &times;
          %p= flash[:alert]
      = yield
